@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap");

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: Oswald, Inter, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: rgb(65, 65, 65);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  font-size: 25px;
  color: #22e6ce;
  padding: 10px 0;
}
label {
  font-size: 20px;
  color: #fff;
  padding-right: 5px;
}
input {
  font-size: 20px;
  background-color: rgba(137, 137, 137, 0.33);
  color: #fff;
  text-align: center;
  border-radius: 3px;
  margin: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 200px;
}

/* CSS */
button {
  background-color: #22e6ce;
  border: 1px solid #22e6ce;
  border-radius: 4px;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 18px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: text-shadow 0.2s linear, transform 0.2s ease-out;
}

button:hover,
button:focus {
  box-shadow: rgba(0, 0, 0, 0.5) 0 3px 9px 0;
  transform: translateY(-2px);
}

button:active {
  text-shadow: none;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

@media (min-width: 768px) {
  button {
    padding: 10px 30px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 600px) {
  input {
    width: 120px;
  }
}

@media (max-width: 350px) {
  input {
    font-size: 15px;
    width: 100px;
    margin: 0;
  }
  form {
    padding: 2rem 0;
  }
  button {
    transform: translateY(13px);
  }
}
