.container {
  padding: 0 0.5rem;
  width: 80%;
  max-width: 1200px;
  margin-inline: auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timers {
  display: flex;
  align-items: center;
  gap: 20px;
}
.brand {
  color: #fff;
  font-size: 96px;
  font-family: oswald;
  font-weight: 500;
}
.brand span {
  color: #22e6ce;
}

.timeForm {
  margin: 40px 0 60px 0;
  align-items: center;
}
.rounds {
  text-align: right;
  color: #fff;
}
.btnSubmit {
  background-color: #22e6ce;
  border: none;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  font-size: 20px;
  width: 200px;
  color: rgb(34, 34, 34);
}
.iconPause {
  background-color: #22e6ce;
  border: none;
  border-radius: 10px;
  color: rgb(34, 34, 34);
  font-size: 25px;
}
.iconFooter {
  font-size: 40px;
  color: #fff;
}
.brandFooter {
  font-size: 20px;
  color: #fff;
}
.footer {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 20px;
}

.workoutTimer {
  margin: 100px 0;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 350px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .container {
    min-height: 40vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
